#carre {
    height:300px;
    width: 200px;
    border-radius: 30px;
    border: 30px;
    
}

.border {
  border: none;
  }

#carrea {
    height: 50px;
    width: 50px;
    border-radius: 30px;
    border: 10px;
    
}


.cercle {
  height: 40px;
  width: 40px;
  border-radius: 20px;
 
}
